<br />
<br /><br />
<br />
<br />
<br />

<br />
<div class="faq-area pt-100 pb-70">
  <div class="container">
    <div class="section-title text-center">
      <h2>Frequently Asked Questions</h2>
      <div class="bar m-auto"></div>
      <p class="m-auto">
        Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
        quis bibendum autor, nisi elit nibh consequat .
      </p>
    </div>
    <div class="row pt-45">
      <div class="col-lg-6">
        <div class="faq-accordion">
          <ul class="accordion">
            <li class="accordion-item">
              <a class="accordion-title" href="javascript:void(0)">
                <i class="ri-arrow-down-s-line"></i>
                Why Won't My Payment Go Through?
              </a>
              <div class="accordion-content" style="display: none">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  at diam leo. Mauris a ante placerat, dignissim orci eget,
                  viverra ante. Mauris ornare pellentesque augue.
                </p>
              </div>
            </li>
            <li class="accordion-item">
              <a class="accordion-title" href="javascript:void(0)">
                <i class="ri-arrow-down-s-line"></i>
                How Do I Get a Refund?
              </a>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  at diam leo. Mauris a ante placerat, dignissim orci eget,
                  viverra ante. Mauris ornare pellentesque augue.
                </p>
              </div>
            </li>
            <li class="accordion-item">
              <a class="accordion-title" href="javascript:void(0)">
                <i class="ri-arrow-down-s-line"></i>
                How Can I Unsubscribe From Your Mailing List?
              </a>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  at diam leo. Mauris a ante placerat, dignissim orci eget,
                  viverra ante. Mauris ornare pellentesque augue.
                </p>
              </div>
            </li>
            <li class="accordion-item">
              <a class="accordion-title" href="javascript:void(0)">
                <i class="ri-arrow-down-s-line"></i>
                How to Changing the Account Name?
              </a>
              <div class="accordion-content show" style="display: none">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  at diam leo. Mauris a ante placerat, dignissim orci eget,
                  viverra ante. Mauris ornare pellentesque augue.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="faq-accordion">
          <ul class="accordion">
            <li class="accordion-item">
              <a class="accordion-title" href="javascript:void(0)">
                <i class="ri-arrow-down-s-line"></i>
                How Do I Redeem a Coupon?
              </a>
              <div class="accordion-content" style="display: none">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  at diam leo. Mauris a ante placerat, dignissim orci eget,
                  viverra ante. Mauris ornare pellentesque augue.
                </p>
              </div>
            </li>
            <li class="accordion-item">
              <a class="accordion-title" href="javascript:void(0)">
                <i class="ri-arrow-down-s-line"></i>
                How Do I Get a Refund?
              </a>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  at diam leo. Mauris a ante placerat, dignissim orci eget,
                  viverra ante. Mauris ornare pellentesque augue.
                </p>
              </div>
            </li>
            <li class="accordion-item">
              <a class="accordion-title" href="javascript:void(0)">
                <i class="ri-arrow-down-s-line"></i>
                How Working Process Is Simplified?
              </a>
              <div class="accordion-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  at diam leo. Mauris a ante placerat, dignissim orci eget,
                  viverra ante. Mauris ornare pellentesque augue.
                </p>
              </div>
            </li>
            <li class="accordion-item">
              <a class="accordion-title" href="javascript:void(0)">
                <i class="ri-arrow-down-s-line"></i>
                Product Engineering &amp; Services?
              </a>
              <div class="accordion-content show" style="display: none">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                  at diam leo. Mauris a ante placerat, dignissim orci eget,
                  viverra ante. Mauris ornare pellentesque augue.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
