<footer class="footer-area">
  <div class="container">
    <div class="footer-top pt-100 pb-70">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html">
                <img src="assets/images/logo.png" alt="Footer Logo" />
              </a>
            </div>
            <ul class="footer-contact-list">
              <li>
                <i class="ri-map-pin-line"></i>
                <div class="content">
                  <a target="_blank">
                    Tunis Road GP1 H Hammam Sousse 4011 Residence Handous 4th
                    floor
                  </a>
                </div>
              </li>
              <li>
                <i class="ri-mail-line"></i>
                <div class="content">
                  <a>
                    <span
                      class="__cf_email__"
                      data-cfemail="d4a7a1a4a4bba6a094aebbb6b1bafab7bbb9"
                      >contact@itgate-group.com</span
                    >
                  </a>
                </div>
              </li>
              <li>
                <i class="ri-phone-line"></i>
                <div class="content">
                  <a> (216)36 200 483 </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-md-6">
          <div class="footer-widget">
            <h3></h3>
            <ul class="footer-list">
              <li>
                <a href="candidates-listing.html" target="_blank">

                </a>
              </li>
              <li>
                <a href="dashboard.html" target="_blank">
                  à propos
                </a>
              </li>
              <!-- <li>
                <a href="dashboard-packages.html" target="_blank">
                  Job Packages
                </a>
              </li>
              <li>
                <a href="job-listing.html" target="_blank"> Jobs Featured </a>
              </li>
              <li>
                <a href="post-job.html" target="_blank"> Post A Job </a>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-4">
          <div class="footer-widget ps-5">
            <h3></h3>
            <ul class="footer-list">
              <li>
                <a href="job-listing.html" target="_blank">  </a>
              </li>
              <li>
                <a href="dashboard-submit-resume.html" target="_blank">
                  Reclamation
                </a>
              </li>
              <!-- <li>
                <a href="dashboard.html" target="_blank">
                  Candidates Dashboard
                </a>
              </li>
              <li>
                <a href="job-listing.html" target="_blank">
                  Browse Categories
                </a>
              </li>
              <li>
                <a href="candidates-listing.html" target="_blank">
                  Candidate Listing
                </a>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-md-4">
          <div class="footer-widget">
            <h3></h3>
            <ul class="footer-list">

              <li>
                <a href="contact.html" target="_blank">  </a>
              </li>
              <li>
                <a href="terms-condition.html" target="_blank">
                  Contacter nous
                </a>
              </li>
              <li>
                <a href="privacy-policy.html" target="_blank">

                </a>
              </li>
              <li>
                <a href="candidates-listing.html" target="_blank">

                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-md-4">
          <div class="footer-widget">
            <h3></h3>
            <ul class="footer-list">
              <li>
                <a href="job-listing.html" target="_blank">  </a>
              </li>
              <li>
                <a href="employers-listing.html" target="_blank">
                  Condition d'utilisation
                </a>
              </li>
              <li>
                <a href="post-job.html" target="_blank">  </a>
              </li>
              <li>
                <a href="employers-listing.html" target="_blank">

                </a>
              </li>
              <li>
                <a href="job-listing.html" target="_blank">  </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-7">
          <div class="copy-right-text">
            <p>
              © 2021.itgate All Rights Reserved by JobGate-Aloui Ala
              <a target="_blank"></a>
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <div class="copy-right-social-link">
            <ul class="social-link">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="ri-facebook-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="ri-instagram-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="ri-twitter-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
