<div class="inner-banner">
  <div class="container">
    <div class="inner-title text-center">
      <h3>Candidates Listing</h3>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>Candidates Listing</li>
      </ul>
    </div>
  </div>
</div>
<div class="candidates-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="candidates-widget-area pr-20">
          <div class="candidates-widget">
            <h3 class="title">Search By Keyword</h3>
            <form>
              <div class="row align-items-center">
                <div class="col-lg-12">
                  <div class="form-group">
                    <i class="ri-search-line"></i>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Keywords / Job Title"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="candidates-widget">
            <h3 class="title">Location</h3>
            <form>
              <div class="row align-items-center">
                <div class="col-lg-12">
                  <div class="form-group select-group">
                    <i class="ri-map-pin-line"></i>
                    <select class="form-select form-control">
                      <option data-display="Choose A Category">
                        Choose A Category
                      </option>
                      <option value="1">Designer</option>
                      <option value="2">Web Developer</option>
                      <option value="3">Engineer</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
            <p>Radius around selected destination</p>
            <div class="range-slider-area">
              <div
                class="
                  area-range-slider
                  ui-slider
                  ui-corner-all
                  ui-slider-horizontal
                  ui-widget
                  ui-widget-content
                "
              >
                <div
                  class="ui-slider-range ui-corner-all ui-widget-header"
                  style="left: 0%; width: 50%"
                ></div>
                <span
                  tabindex="0"
                  class="ui-slider-handle ui-corner-all ui-state-default"
                  style="left: 0%"
                ></span
                ><span
                  tabindex="0"
                  class="ui-slider-handle ui-corner-all ui-state-default"
                  style="left: 50%"
                ></span>
              </div>
              <div class="input-outer">
                <div class="amount-outer">
                  <span class="area-amount">50</span>km
                </div>
              </div>
            </div>
          </div>
          <div class="candidates-widget">
            <h3 class="title">Specialism</h3>
            <ul class="candidates-widget-listing">
              <li>
                <input id="check-f" type="checkbox" name="check" />
                <label for="check-f">Accountancy</label>
              </li>
              <li>
                <input id="check-a" type="checkbox" name="check" />
                <label for="check-a">Banking</label>
              </li>
              <li>
                <input id="check-b" type="checkbox" name="check" />
                <label for="check-b">Digital &amp; Creative</label>
              </li>
              <li>
                <input id="check-c" type="checkbox" name="check" />
                <label for="check-c">IT Specialist</label>
              </li>
              <li>
                <input id="check-d" type="checkbox" name="check" />
                <label for="check-d">Data Analyser</label>
              </li>
              <li>
                <input id="check-e" type="checkbox" name="check" />
                <label for="check-e">UI Designer</label>
              </li>
            </ul>
          </div>
          <div class="candidates-widget">
            <h3 class="title">Experience</h3>
            <ul class="candidates-widget-listing">
              <li>
                <input id="check-1" type="checkbox" name="check" />
                <label for="check-1">Fresher</label>
              </li>
              <li>
                <input id="check-2" type="checkbox" name="check" />
                <label for="check-2">0 - 2 Years </label>
              </li>
              <li>
                <input id="check-3" type="checkbox" name="check" />
                <label for="check-3">3 - 4 Years</label>
              </li>
              <li>
                <input id="check-4" type="checkbox" name="check" />
                <label for="check-4">5 - 6 Years </label>
              </li>
              <li>
                <input id="check-5" type="checkbox" name="check" />
                <label for="check-5">7 - 9 Years</label>
              </li>
              <li>
                <input id="check-6" type="checkbox" name="check" />
                <label for="check-6">10+ Years</label>
              </li>
            </ul>
          </div>
          <div class="candidates-widget">
            <h3 class="title">Education</h3>
            <ul class="candidates-widget-listing">
              <li>
                <input id="check-7" type="checkbox" name="check" />
                <label for="check-7">Certified</label>
              </li>
              <li>
                <input id="check-8" type="checkbox" name="check" />
                <label for="check-8">Diploma</label>
              </li>
              <li>
                <input id="check-9" type="checkbox" name="check" />
                <label for="check-9">Associate Degree</label>
              </li>
              <li>
                <input id="check-10" type="checkbox" name="check" />
                <label for="check-10">Bachelor Degree </label>
              </li>
              <li>
                <input id="check-11" type="checkbox" name="check" />
                <label for="check-11">Master’s Degree</label>
              </li>
              <li>
                <input id="check-12" type="checkbox" name="check" />
                <label for="check-12">Doctorate Degree</label>
              </li>
            </ul>
          </div>
          <div class="candidates-widget">
            <h3 class="title">Search By Keyword</h3>
            <form>
              <div class="row align-items-center">
                <div class="col-lg-12">
                  <div class="form-group select-group">
                    <i class="ri-user-6-line"></i>
                    <select class="form-control form-select">
                      <option data-display="Gender">Gender</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                      <option value="3">Other</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="candidates-topper">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="candidates-title">
                <h3>Showing 1 – 6 of 145 results</h3>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="candidates-category-form">
                <div class="row">
                  <div class="col-lg-6 col-6">
                    <div class="form-group select-group">
                      <select class="form-select form-control">
                        <option data-display="Sort By (Default)">
                          Sort By (Default)
                        </option>
                        <option value="1">Top Rate</option>
                        <option value="2">Mid Rate</option>
                        <option value="3">Low Rated</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-6">
                    <div class="form-group select-group">
                      <select class="form-select form-control">
                        <option data-display="06 Per Pages">
                          06 Per Pages
                        </option>
                        <option value="1">03 Per Pages</option>
                        <option value="2">06 Per Pages</option>
                        <option value="3">09 Per Pages</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-45 justify-content-center">
          <div class="col-lg-6 col-sm-6" *ngFor="let condidat of listcandidat">
            <div class="freelancers-card">
              <a href="candidates-details.html">
                <img
                  src="assets/images/freelancers/freelancers-img1.jpg"
                  alt="Images"
                />
              </a>
              <div class="title">
                <h3>
                  <a [routerLink]="['/detail', condidat.id]">{{
                    condidat.username
                  }}</a>
                </h3>
                <img src="assets/images/freelancers/flag.png" alt="Images" />
              </div>
              <p>{{ condidat.niveau }}</p>
              <div class="rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill rating-color"></i>
              </div>
              <div class="sub-title">
                <span class="sub-title1">Job Success : <b>90%</b></span>
                <span class="sub-title2">Rate : <b>$30 Per Hour</b></span>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-6 col-sm-6">
    <div class="freelancers-card">
    <a href="candidates-details.html">
    <img src="assets/images/freelancers/freelancers-img2.jpg" alt="Images">
    </a>
    <div class="title">
    <h3>
    <a href="candidates-details.html">Thomas Abedin</a>
    </h3>
    <img src="assets/images/freelancers/flag.png" alt="Images">
    </div>
    <p>Software Engineer</p>
    <div class="rating">
    <i class="ri-star-fill"></i>
    <i class="ri-star-fill"></i>
    <i class="ri-star-fill"></i>
    <i class="ri-star-fill"></i>
    <i class="ri-star-fill"></i>
    </div>
    <div class="sub-title">
    <span class="sub-title1">Job Success : <b>100%</b></span>
    <span class="sub-title2">Rate : <b>$40 Per Hour</b></span>
    </div>
    </div>
    </div> -->

          <div class="col-lg-12 col-md-12 text-center">
            <div class="pagination-area">
              <a href="candidates-listing.html" class="prev page-numbers">
                <i class="ri-arrow-left-s-line"></i>
              </a>
              <span class="page-numbers current" aria-current="page">1</span>
              <a href="candidates-listing.html" class="page-numbers">2</a>
              <a href="candidates-listing.html" class="page-numbers">3</a>
              <a href="candidates-listing.html" class="next page-numbers">
                <i class="ri-arrow-right-s-line"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
