<div class="employers-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="job-post-card box-shadow">
          <div class="job-post-img">
            <img
              class="rounded-circle shadow-1-strong me-3"
              src="http://localhost:8085/users/files/{{ userconnect.image }}"
              alt="avatar"
              width="80"
              height="80"
            />
          </div>
          <h3>{{ userconnect.username }}</h3>
          <div class="content">
            <div class="content-item">
              <ul class="content-list">
                <li>
                  <i class="ri-briefcase-line"> </i> {{ userconnect.siteWeb }}
                </li>
                <li>
                  <i class="ri-map-pin-line"></i>{{ userconnect.adresse }}
                </li>
                <li>
                  <i class="ri-question-answer-line"></i>
                  <a href="contact.html">Envoyer message</a>
                </li>
              </ul>
            </div>
            <ul class="content-list2">
              <li class="time">2 Open Position</li>
            </ul>
          </div>
          <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="job-details-widget-side pr-20">
          <div class="job-details-widget">
            <h3 class="title">Détail entreprise</h3>
            <div class="bar"></div>
            <ul class="job-details-category">
              <li>
                Sécteur d'activité:
                <span> {{ userconnect.sect_activite }}</span>
              </li>
              <li>
                Année de création: <span>{{ userconnect.anneeCreation }}</span>
              </li>
              <li>
                Lieu: <span>{{ userconnect.region }}</span>
              </li>
              <li>
                Numéro de telephone <span>{{ userconnect.telephone }}</span>
              </li>
              <li>
                Site web: <span>{{ userconnect.siteWeb }}</span>
              </li>
            </ul>
            <div class="job-details-social">
              <span>Socials:</span>
              <ul class="social-icon">
                <li>
                  <a href="{{ userconnect.fblink }}" target="_blank">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="{{ userconnect.instalink }}" target="_blank">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="{{ userconnect.twitterlink }}" target="_blank">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="{{ userconnect.linkedlink }}" target="_blank">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="job-details-web-btn">
              <a href="index.html" target="_blank">
                {{ userconnect.siteWeb }}</a
              >
            </div>
          </div>
          <div class="job-details-widget">
            <h3 class="title">{{ userconnect.adresse }}</h3>
            <div class="bar"></div>
            <div class="job-details-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3012.3531005543196!2d-73.6960694852179!3d40.973748329498996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c290dc165bb96f%3A0x63af0a238a20fe90!2s5%20North%20St%2C%20Rye%2C%20NY%2010580%2C%20USA!5e0!3m2!1sen!2sbd!4v1625385308899!5m2!1sen!2sbd"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="employers-details-content">
          <div class="content mb-30">
            <h3>Description</h3>
            <p>
              <!-- IT Gate est une société d'ingénierie informatique, créée en 2015.
              Spécialisée dans le développement, les services informatiques,
              l'expérience utilisateur, la conception, le développement et le
              Webdesign. Avec ses valeurs ; organisation, collaboration,
              confiance et responsabilité, ITGate est une équipe jeune et
              dynamique réunie pour répondre aux besoins de ses clients et les
              accompagner tout au long de leurs projets. -->
            </p>
            <p>
              <!-- Nous aidons nos clients à anticiper les ruptures technologiques, à
              transformer et adapter leurs activités et leurs organisations, et
              à moderniser leurs réseaux et systèmes d'informations, pour
              obtenir une croissance profitable. De la définition de la
              stratégie à la mise en œuvre opérationnelle, notre approche est
              globale, basée sur l’échange et la co-construction.
            </p> -->
            <div class=""></div>
            <p>{{ userconnect.description }}</p>
          </div>
          <!-- <div class="employers-details-list">
            <ul>
              <li>
                You have at least 3 years’ experience working as a Product
                Designer.
              </li>
              <li>You have experience using Sketch and InVision or Framer</li>
              <li>
                You have some previous experience working in an agile
                environment – Think two-week sprints.
              </li>
              <li>
                You are familiar using Jira and Confluence in your workflow
              </li>
              <li>
                Present your work to the wider business at Show &amp; Tell
                sessions.
              </li>
              <li>
                Consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              </li>
            </ul>
          </div> -->
          <!-- <div class="article-social-icon">
            <ul class="social-icon">
              <li class="title">Share Post</li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="ri-facebook-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="ri-instagram-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="ri-twitter-fill"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </li>
            </ul>
          </div> -->
          <!-- <div class="employers-details-portfolio">
            <h3>Our Gallery</h3>
            <div class="bar"></div>
            <div class="row gallery-photo">
              <div class="col-lg-3 col-6 col-md-3">
                <div class="employers-details-portfolio-img">
                  <a href="assets/images/blog/blog-details-img2.jpg">
                    <img
                      src="assets/images/blog/blog-details-img2.jpg"
                      alt="Images"
                    />
                  </a>
                </div>
              </div>
              <div class="col-lg-3 col-6 col-md-3">
                <div class="employers-details-portfolio-img">
                  <a href="assets/images/blog/blog-details-img3.jpg">
                    <img
                      src="assets/images/blog/blog-details-img3.jpg"
                      alt="Images"
                    />
                  </a>
                </div>
              </div>
              <div class="col-lg-3 col-6 col-md-3">
                <div class="employers-details-portfolio-img">
                  <a href="assets/images/blog/blog-details-img4.jpg">
                    <img
                      src="assets/images/blog/blog-details-img4.jpg"
                      alt="Images"
                    />
                  </a>
                </div>
              </div>
              <div class="col-lg-3 col-6 col-md-3">
                <div class="employers-details-portfolio-img">
                  <a href="assets/images/blog/blog-details-img5.jpg">
                    <img
                      src="assets/images/blog/blog-details-img5.jpg"
                      alt="Images"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <h3>Video</h3>
          <div class="bar"></div>
          <div class="employers-details-play">
            <a
              href="https://www.youtube.com/watch?v=Zd00oIDAt60"
              class="play-btn"
            >
              <i class="ri-play-circle-line"></i>
            </a>
          </div>
          <h3>Related Jobs</h3>
          <div class="bar"></div>
          <div class="col-lg-12">
            <div class="recent-job-card box-shadow">
              <div class="content">
                <div class="recent-job-img">
                  <a href="job-details.html">
                    <img
                      src="assets/images/recent-job/recent-job5.jpg"
                      alt="Images"
                    />
                  </a>
                </div>
                <h3><a href="job-details.html">Creative Director</a></h3>

                <ul class="job-list1">
                  <li><i class="ri-briefcase-line"></i> Automotive Jobs</li>
                  <li><i class="ri-time-line"></i> 2 Hour Ago</li>
                </ul>
                <span><i class="ri-map-pin-line"></i> 105 San Antonio, TX</span>
              </div>
              <div class="job-sub-content">
                <ul class="job-list2">
                  <li class="time">Full Time</li>
                  <li class="freelance">Freelance</li>
                </ul>
                <div class="price">$120 - $140 <b>/Per Week</b></div>
              </div>
              <button class="bookmark-btn">
                <i class="ri-bookmark-line"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="recent-job-card box-shadow">
              <div class="content">
                <div class="recent-job-img">
                  <a href="job-details.html">
                    <img
                      src="assets/images/recent-job/recent-job6.jpg"
                      alt="Images"
                    />
                  </a>
                </div>
                <h3>
                  <a href="job-details.html">General Ledger Accountant</a>
                </h3>
                <ul class="job-list1">
                  <li>
                    <i class="ri-briefcase-line"></i> Accounting &amp; Finance
                  </li>
                  <li><i class="ri-time-line"></i> 1 Day Ago</li>
                </ul>
                <span><i class="ri-map-pin-line"></i> 320 Los Angeles, CA</span>
              </div>
              <div class="job-sub-content">
                <ul class="job-list2">
                  <li class="time">Full Time</li>
                  <li class="freelance">Freelance</li>
                  <li class="internship">Internship</li>
                </ul>
                <div class="price">$120 - $140 <b>/Per Week</b></div>
              </div>
              <button class="bookmark-btn">
                <i class="ri-bookmark-line"></i>
              </button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
